<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Styles pour Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Styles et scripts pour Highlight.js (coloration syntaxique) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body class="bg-light">
    <div class="container mt-5" style="border: 4px solid {{ application_color }}; border-radius: 10px; padding: 20px;">
    <h1 class="text-center mb-4">{{ title }}</h1>

    <div class="card p-4">
        <h5>Description :</h5>
        <p>{{ formatted_description | safe }}</p>

        <h5>Protocole de Résolution :</h5>
        <p>{{ formatted_resolution | safe }}</p>

        <h5>Protocole de Vérification :</h5>
        <p>{{ formatted_verification | safe }}</p>

        <h5 class="card-title mt-4">Acteur</h5>
        <p>{{ procedure[6] }}</p>

        <h5 class="card-title mt-4">Vérificateur</h5>
        <p>{{ procedure[7] }}</p>

        <h5 class="card-title mt-4">Utilisateur</h5>
        <p>{{ procedure[11] }}</p>

        <h5 class="card-title mt-4">Référence Ticket</h5>
        <p>{{ procedure[9] }}</p>

        <h5>Application :</h5>
        <p style="background-color: {{ procedure[13] }}; color: #FFFFFF; padding: 5px; border-radius: 5px; display: inline-block;">
            {{ procedure[12] }}
        </p>

        <h5>Pièces Jointes :</h5>
            <ul>
                {% for file in pieces_jointes_links %}
                    <li><a href="{{ url_for('download_file', filename=file.split('/')[-1]) }}" class="btn btn-link">{{ file.split('/')[-1] }}</a></li>
                {% endfor %}
            </ul>

    </div>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
</div>
</body>
</html>

